<!doctype html>
<html lang="cs">
 
<head>
 <title>Matematikuj</title>
 <meta charset="utf-8">
 {% load staticfiles %}
 <link rel="stylesheet" href={% static 'global_static/base_style.css' %}>
 <link rel="stylesheet" href={% static 'geografuj_style.css' %}>

</head>
<body>
<header>

</header>
<nav>
    <div class="home"><a href="http://www.matematikuj.g6.cz"><img src={% static 'logo.svg' %}></div>
    <dl class="menu">
    <dd class="menu-button"> <a class="button" href="narodni_kurikulum.html">Fyzická geografie</a></dd>
    <dd class="menu-button"> <a class="button" href="skolni_kurikulum.html">Humanní geografie/a></dd>
    <dd class="menu-button"> <a class="button" href="skolni_kurikulum.html">Ke Stažení</a></dd>
    </dl>
</nav>
<article>
 <div id="uvod">
 Web je momentálně v přípravě!
 </div>
</article>
<footer>
 <ul>
 <li><a href="https://validator.w3.org/#validate_by_upload">HTML Validator</a></li>
 <li><a href="https://jigsaw.w3.org/css-validator/">CSS Validator</a></li>
 <li><!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7178685&style=0008&nbdigits=5&type=page&initCount=0" title="Visits Count" Alt="analytics counter"   border="0" >
</a>                         </li>
</ul>
</footer>
</body>
</html>
